dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
/Main
/tmp.hs
/*.log
/*.pdf
/*.dot
/*.ml
bridge
test/out/

oc

uKanren-transformation.cabal

*.bbl

*.blg

*.fdb_latexmk

*.fls

*.gz

*.out

*.cmi

*.cmo

test/ocamlTest/peval/peval

papers/miniKanren/ocanren/last/peval

papers/miniKanren/text/main.log
